body {
    font-size: 0.7em;
    background-color: #555;
}
div.favPane {

}
div#container {
    width: 1070px;
}

div#container, div#tabs, div#tabFavorites {
    min-height: 580px;
}

div.favItem {
    padding: 4px;
    margin: 4px;
    width: 466px;
    height: 28px;
    overflow: hidden;
    float: left;
}

div.favName {
    float: left;
    display: inline;
    padding-top: 4px;
    font-size: 1.1em;
}

.unknownType {
    font-size: 0.8em;
    padding-right: 5px;
}

div.favInput, div.favStartProgram {
    float: right;
    display: inline;
    min-height: 28px;
}

div.favInputSlider {
    min-width: 100px;
    width: 160px;
    position: relative;
    top: 8px;
    right: 5px;

}
div.favInput {
    height: 28px;
}



div.favStartProgram button, div.favInput button {
   height: 28px;
}
.ui-jqgrid tr.jqgrow td.ise_id {
    padding-right: 10px;
}

#hmScriptTools {
    vertical-align: bottom;
}

#hmScriptStdout, #hmScript {
    font-family: courier;
    font-size: 12px;
}
ul.tabsPanel li a span {
    width:21px;
    height: 14px;
    display: inline-block;
    vertical-align: text-bottom;
}

ul.tabsPanel li a span.tabAlert {
    width: 16px;
    height:  16px;
    padding-bottom: -2px;
    margin-bottom: -2px;
    position: relative;
    display: inline-block;
    top: -1px;

}
ul.tabsPanel li img {
    padding-left: 5px;

}
ul.tabsPanel li a {

}

li a:focus {
     outline:none;
}

.smallButton {
    width: 29px; height: 26px;

}

#favLock {
    float: right;
}

