html, body, div#container, div.tabs {
    margin:0;

}
div#accordionFavorites div div {
    padding: 0px;
}
img {
    border: none;
}

.editAreaButtonOver, .editAreaButtonNormal {
    border: none;
}
#hmNewScriptMenu {
    position: absolute; width: 150px;
    z-index: 2000;
}
#hmRunScriptMenu {
     position: absolute; width: 150px;
     z-index: 2000;
 }
#toolbar_1 a, #toolbar_1 a span, #toolbar_1 a span  {
    height: 20px; !important
    margin: 0; !important
    padding: 0; !important
}

div#container {
    height:100%;
   /* border: 1px dashed yellow;*/

}

div#tabs {
    margin: 6px;
   /* border: 1px dashed red;*/

}

body {
    font-size: 0.7em;
    background-color: #555;
}
div.favPane {

}
div#container {
    min-width: 1090px;
    width: 100%;

}

div#container, div#tabs, div#tabFavorites {

}

div.favItem {
    min-width: 300px;
    width: 100%;
    min-height: 40px;
    overflow: auto;
    display:block;
    padding: 0px;
    margin-bottom: 4px;
}

div.favName {
    padding: 2px !important;
    padding-left: 4px !important;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
}

.unknownType {
    font-size: 0.9em;
    padding-right: 5px;
}

div.favInput, div.favStartProgram {
min-height: 32px;
    padding-right: 0px !important;
    padding: 2px !important;
    padding-top: 2px !important;
    margin-top:2px !important;
    white-space: nowrap;


}

div.favInputSlider {
    min-width: 100px;
    width: 160px;
    display: inline-block !important;


}

div.favInputRadio {
    display: inline-block;
    min-width: 90px;
}

.favItemHeader {
    text-align: center;
}



div.favStartProgram button, div.favInput button {
   height: 28px;
}
.ui-jqgrid tr.jqgrow td.ise_id {
    padding-right: 8px;
}

#buttonsFavorites {
 width: 100%;
    text-align: left;
    padding-top:1px;

}

#hmScriptTools {
    vertical-align: bottom;
}
#hmScriptContainer {
    vertical-align: top;
}
#hmScriptStdout, #hmScript {
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
}
ul.tabsPanel li a span {
    width:21px;
    height: 14px;
    display: inline-block;
    vertical-align: text-bottom;
}

ul.tabsPanel li a span.tabAlert {
    width: 16px;
    height:  16px;
    padding-bottom: -2px;
    margin-bottom: -2px;
    position: relative;
    display: inline-block;
    top: -1px;

}
ul.tabsPanel li img {
    padding-left: 5px;

}
ul.tabsPanel li a {

}

li a:focus {
     outline:none;
}

.smallButton {
    width: 29px; height: 26px;

}

#favLock {
    float: right;
}

.favCol {

}
#login {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;

    background-color: #555;

}
#logout {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index: 1000;
    background-color: #555;

}
#session {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index: 1000;
    background-color: #555;

}
li.array-item.closed-object {
    height: 15px;
}



div.favInput label {
    padding-top: 2px;

}

.favItemTable, .favItemTable tr {
    width: 100%;
}
.favItemTable, .favItemTable tr, .favItemTable tr td {
    margin: 0px;
    border: none;
    border-collapse: separate;

}

.favInputCell {
    text-align: right;
    width: 66%;
    padding-right: 3px !important;
}

img.favIcon {
    text-align: left;
    vertical-align: middle;
    padding-left: 4px;
}

.unknownType {
    padding-right: 3px;
}
.favInputUnit {
    min-width: 26px !important;
    padding-right: 3px !important;
    text-align: left;
    display: inline-block;
}
.favDpTable {
    width: 100%;
    padding: 4px;
    padding-left: 8px;
    border-collapse: collapse;
    margin-top: -3px !important;
}
.favDpTable tr td{
    padding-bottom: 1px;
}
.favDpLeft {
    overflow: hidden;
    white-space: nowrap;
    padding-right: 4px;
    text-align: left;
}

.favDpRight {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
}

button.ui-multiselect {
    min-width: 76px;
    width:auto;

    padding-left: 10px;
    margin-left: 2px;
    margin-right: 2px;
    white-space: nowrap;
}

.favSliderContainer {
    padding-top: 0px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    padding-bottom: 9px !important;
}
.favIconText {
    font-size: 1.08em;
}

.ui-slider-handle {
 user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select:none;
}

.timeRefresh {
    padding-left: 2px !important;
    line-height: 2em !important;
    vertical-align: middle;
}

div.spacer {
    height: 5px;
    display: block;
}